
#butooons button {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}

.three-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}

.four-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}

.five-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-bottom: 20px;
    border-radius: 20%;
}

.six-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}

.seven-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}


.eight-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}

.nine-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 124px;
    margin-bottom: 20px;
    border-radius: 20%;
}

.zero-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}


.plus-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-bottom: 20px;
    border-radius: 20%;
}

.minus-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}


.multiply-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}

.divide-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 20%;
}

.equal-but {
    background-color: rgb(105, 52, 204);
    color: rgb(79, 228, 228);
    height: 100px;
    width: 100px;
    font-weight: 500;
    font-size: xx-large;
    margin-left: 183px;
    border-radius: 20%;
}





#container {
    
    display: flexbox;
    grid-gap: 0.2em;
    grid-template-rows: repeat (var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: rgb(0, 128, 128);
    width: 960px;
    height: 960px;
    padding: 80px;
}

.paragraph {

    margin-top: 70px;
    text-align: right;
    font-size: 25px;
    margin-right: 10px;
}

#display {

    border: 1px, solid rgb(0, 0, 0);
    margin-bottom: 20 px;
    width: 350px;
    height: 100px;
    background-color: #b2b9b7;
    overflow-x: auto;
    color: black;
}